img{
    border: 2px solid black ;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}
div{
    text-align: center;
}
h2{
    color: rgb(172, 2, 219);
}
hr{
    color: rgb(172, 2, 219);
}
p{
    font-family: 
    system-ui, -apple-system,
     BlinkMacSystemFont, 
     'Segoe UI',
      Roboto,
       Oxygen,
        Ubuntu,
         Cantarel,
          'Open Sans',
          'Helvetica Neue',
           sans-serif;
}
button{
    width: 100%;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px;
}
.btn-Follow{
    background-color:purple

}
.btn-Message{
    background-color: blue;
    
}
.btn-Hire{
    background-color: rgb(35, 195, 3);}
    
hr{
    border: none;
    border-top: 2px solid red ;
}
#main{
    width: 300px;
    margin: auto;
    border: 1px solid rgba(128, 128, 128, 0.473);
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(128, 128, 128, 0.473) 5px 5px 5px ;
}
