#container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    border: 1px solid gray;
    width: 250px;
    height: 200px;
    padding: 10px;
    border-radius: 20px;
}
